<mat-toolbar color="primary" class="barra-navegacion">
    <!-- <button mat-icon-button (click)="irAInicio()"><mat-icon>menu</mat-icon></button> -->

    <span class="logo-texto" (click)="irAInicio()" style="cursor: pointer;">ElectroHogar</span>

    <span class="espaciador"></span>

    <div class="menu-escritorio">
        <button mat-button (click)="irAInicio()">Inicio</button>
        <button mat-button (click)="irACatalogo()">Catálogo</button>
        <button mat-button (click)="irAOfertas()">Ofertas</button>
        <button mat-button (click)="irACategorias()">Categorías</button>
    </div>

    <button mat-icon-button class="boton-favoritos" (click)="irAFavoritos()">
        <mat-icon [matBadge]="cantidadFavoritos" matBadgeColor="warn" [matBadgeHidden]="cantidadFavoritos === 0">
            favorite
        </mat-icon>
    </button>

    <button mat-icon-button (click)="!usuario ? manejarClickUsuario() : null"
        [matMenuTriggerFor]="usuario ? menuUsuario : null">

        <img *ngIf="usuario && usuario.avatarUrl" [src]="usuario.avatarUrl" class="avatar-header">
        <mat-icon *ngIf="!usuario || !usuario.avatarUrl">account_circle</mat-icon>

    </button>

    <mat-menu #menuUsuario="matMenu" xPosition="before">
        <div class="info-menu" *ngIf="usuario">
            <span class="nombre-menu">{{ usuario.nombre }}</span>
            <span class="email-menu">{{ usuario.email }}</span>
        </div>
        <mat-divider></mat-divider>

        <button mat-menu-item (click)="irAPerfil()">
            <mat-icon>person</mat-icon>
            <span>Mi Perfil</span>
        </button>
        <!-- <button mat-menu-item>
            <mat-icon>shopping_bag</mat-icon>
            <span>Mis Pedidos</span>
        </button> -->
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-menu>
</mat-toolbar>