<app-header></app-header>

<main class="contenedor-favoritos">
    <div class="encabezado-seccion">
        <h2>Mi Lista de Deseos</h2>
        <p>Tus productos seleccionados para el futuro hogar.</p>
    </div>

    <div *ngIf="misFavoritos.length === 0" class="estado-vacio">
        <mat-icon class="icono-grande">favorite_border</mat-icon>
        <h3>Aún no tienes favoritos</h3>
        <p>Explora nuestro catálogo y guarda lo que más te guste.</p>
        <button mat-raised-button color="primary" (click)="irAlCatalogo()">IR AL CATÁLOGO</button>
    </div>

    <div class="grilla-productos" *ngIf="misFavoritos.length > 0">
        <app-tarjeta-producto *ngFor="let item of misFavoritos" [producto]="item" [titulo]="item.nombre"
            [descripcion]="item.descripcion" [precio]="item.precio" [imagenUrl]="item.imagenUrl">
        </app-tarjeta-producto>
    </div>
</main>